@model IEnumerable<DotNetCore.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h4>Employee Register</h4>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="fa fa-plus-square"></i>Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.EmployeeID"><i class="fa fa-edit fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID"><i class="fa fa-info-circle fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
